.bar-chart{
    margin-top: 40px;
    margin-left: 25px;
    padding: 20px;
    padding-left: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 600px;
    align-self: flex-end;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    color:white;
    
  }

  .bar-chart-container{
    background-color: black;
    padding-top: 5px;
    margin-top: 2px;
    padding-bottom: 15px;
    display: flex;
    width: auto;
    justify-content: space-around; 
    flex-wrap: wrap; 
 }
 