
.App {
 font-family: 'Times New Roman', Times, serif;
}

.navbar-container {
  background-color:black;
  padding: 20px;
  color: #fff;
  display: flex;
}

.navbar-logo{
  align-items:end;
  padding-left: 80%;
  padding-top: 10px;
  
}


button{
    top:50%;
    background-color:black;
    color: white;
    border: none;
    border-radius:10px; 
    text-align: center;
    min-width: 50px;
    min-height: 1px;
    font-family: 'Times New Roman', Times, serif;
    font-style: bold;
    font-size:medium;
    cursor: pointer;
}


h1 {
  margin: 0;
  position: relative;
  font-family: 'Times New Roman', Times, serif;
  text-align: left;
  padding-left: 15px;
  text-align: justify;
}


.navbar-heading{
  font-weight: 450;
  letter-spacing:1.2px;
}


